.blog-card {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  padding: 6px;
  border-radius: var(--border-radius-5);
  transition: background-color 0.35s;
  color: var(--color-white);

  &:hover {
    background-color: var(--color-grey-8);
    transition: background-color 0.35s;
  }
}

.blog-card-poster {
  width: calc(100% - 12px);
  border-radius: var(--border-radius-4);
  overflow: hidden;

  & > img {
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
  }
}

.blog-card-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 24px;

  & > h2 {
    font-size: 22px;
    line-height: 100%;
  }

  & > p {
    font-size: 15px;
    line-height: 100%;
    color: var(--color-grey-1);
    font-weight: 700;
  }
}

.blog-card-author {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 24px;

  & > p {
    color: var(--color-grey-1);
  }

  p {
    font-size: 14px;
    line-height: 100%;
  }
}

.blog-card-author-info {
  display: flex;
  align-items: center;
  gap: 12px;

  & > img {
    width: 36px;
    height: 36px;
    object-fit: cover;
    border-radius: 50%;
    border: var(--border-grey-2);
  }
}
