.border {
  position: relative;
  width: 100%;
  height: auto;
  border: var(--border-grey-1);
  border-radius: var(--border-radius-2);
}

.corner {
  position: absolute;
  width: 12px;
  height: 12px;

  &.left-top{
    top: -2px;
    left: -2px;
    border-radius: var(--border-radius-3) 0 0 0;
    border-left: var(--border-blue-2);
    border-top: var(--border-blue-2);
  }

  &.left-bottom{
    bottom: -2px;
    left: -2px;
    border-radius: 0 0 0 var(--border-radius-3);
    border-left: var(--border-blue-2);
    border-bottom: var(--border-blue-2);
  }

  &.right-top{
    top: -2px;
    right: -2px;
    border-radius: 0 var(--border-radius-3) 0 0;
    border-top: var(--border-blue-2);
    border-right: var(--border-blue-2);
  }

  &.right-bottom{
    right: -2px;
    bottom: -2px;
    border-radius: 0 0 var(--border-radius-3) 0;
    border-right: var(--border-blue-2);
    border-bottom: var(--border-blue-2);
  }
}