.navbar {
  width: 100%;
  position: relative;
  height: 100%;

  & > .border {
    width: 100%;
    /* flex-shrink: 1; */
    max-height: calc(100vh - 185px);
    height: 100%;
  }
}

.nav {
  display: flex;
  width: 100%;
  position: absolute;
  justify-content: center;
  gap: 16px;
  margin-top: -24px;
  z-index: 1;
}
