.navbar {
  width: 100%;
  position: relative;
  min-height: 0;
  flex-grow: 1;

  & > .border {
    width: 100%;
    /* flex-shrink: 1; */
    /* height: 100%; */
  }
}

.nav {
  display: flex;
  width: 100%;
  position: absolute;
  justify-content: center;
  gap: 16px;
  margin-top: -24px;
  z-index: 1;
  padding: 0 12px;
}

@media screen and (max-width: 1200px) {
  .nav {
    gap: 6px;
  }
}

@media screen and (max-width: 950px) {
  .navbar {
    /* flex: 1 1 0; */
    /* height: calc(100% - 134px); */
    /* flex-basis: 0; */
  }
}

@media screen and (max-width: 640px) {
  .navbar {
    /* height: calc(100% - 93px - 200px); */
    height: auto;
  }
}
