.service-card {
  position: relative;
  /* max-width: 470px; */
  width: 100%;
  height: 113px;
  /* height: 100%; */
  border-radius: var(--border-radius-2) var(--border-radius-2);
  transition: all 0.3s;
  display: flex;
}

/* .border-line {
  position: absolute;
  top: 0;
  left: -0.5px;
  z-index: -1;
  width: 100%;
  height: 100%;
} */

.service-card-rank {
  display: flex;
  flex-direction: column;
  max-width: 120px;
  width: 100%;
  height: 100%;
  transition: all 0.3s;
}

.service-card-icon {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.service-card-rank-title {
  width: 100%;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 0 var(--border-radius-1);
  transition: all 0.3s;

  & > p {
    font-size: 14px;
    line-height: 100%;
    color: var(--color-dark);
  }
}

.service-card-titles {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 0 var(--border-radius-2) var(--border-radius-2) 0;
  overflow: hidden;
  transition: all .3s;
}

.service-card-title {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  padding: 4px 16px 4px 20px;

  & > h3 {
    font-size: 18px;
    line-height: 22px;
  }

  & > p {
    font-size: 12px;
    line-height: 100%;
    color: var(--color-grey-1);
  }
}

.service-card-info {
  width: 100%;
  height: 20px;
  display: flex;
  padding: 0 16px 0 20px;
  align-items: center;
  gap: 12px;
  font-size: 12px;
  line-height: 100%;
}
