.technology {
  position: relative;
  width: 100%;
  min-height: 30%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 12px;
  overflow: hidden;
  border: var(--border-grey-2);
  border-radius: var(--border-radius-4);

  &:hover {
    & > .tech-icon-back {
      opacity: .95;
      transition: opacity 0.3s ease;
    }
  }
}

.tech-icon-back {
  position: absolute;
  width: 120%;
  opacity: 0.5;
  z-index: -1;
  filter: blur(30px);
  transition: opacity 0.3s ease;
}

.tech-border {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.tech-icon {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* & > svg  {
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  } */
}

.tech-title {
  height: 22px;
  font-size: 22px;
  text-align: center;
  line-height: 100%;
}
