.blogs {
  width: 100%;
  height: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
  background: linear-gradient(
    90deg,
    rgba(18, 140, 239, 0) 0%,
    var(--blue-transparent-3) 50%,
    rgba(18, 140, 239, 0) 100%
  );

  & > p {
    padding-bottom: 48px;
    font-size: 18px;
    line-height: 100%;
  }
}

.blogs-list {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-right: 4px;

  &::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: none;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: var(--color-blue);
    border-radius: 8px;
  }
}
