.project {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  background: linear-gradient(
    90deg,
    rgba(18, 140, 239, 0) 0%,
    var(--blue-transparent-3) 50%,
    rgba(18, 140, 239, 0) 100%
  );

  & > p {
    font-size: 18px;
    line-height: 100%;
  }
}

.project-main {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 16px;
  position: relative;
  align-items: start;
}

.project-information {
  max-width: 331px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.project-details {
  width: 100%;
  height: auto;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: var(--border-grey-1);
  border-radius: var(--border-radius-3);

  hr {
    border: none;
    border-top: 1px solid var(--color-grey-7);
    margin: 4px 0;
  }
}

.project-union {
  position: relative;
  width: 100%;
  height: 23px;
  display: flex;
  align-items: center;
  padding: 0 8px;
  border-radius: var(--border-radius-1);
  overflow: hidden;

  & > .union {
    position: absolute;
    width: 100%;
    height: 23px;
    color: var(--blue-transparent-2);
    z-index: -1;
    top: 0;
    left: 0;
  }

  & > p {
    font-size: 14px;
    line-height: 100%;
  }
}

.project-info {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 4px;

  & > p {
    font-size: 14px;
    line-height: 14px;
  }

  & > h3 {
    font-size: 18px;
    line-height: 22px;
    color: var(--color-blue);
  }
}

.project-technologies {
  width: 100%;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: var(--border-grey-1);
  border-radius: var(--border-radius-3);
}

.technology-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.project-technology {
  position: relative;
  width: 100%;
  height: auto;
  aspect-ratio: 1/0.87;
  display: flex;
  align-items: center;
  justify-content: center;
}

.technology-border {
  position: absolute;
  top: 0;
  left: 0;
}

.technology-icon {
  width: 40%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.project-about {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;

  & > p {
    font-size: 14px;
    line-height: 125%;
  }
}

.about-description {
  width: 100%;
  max-height: 300px;
  position: relative;
  display: flex;
  overflow-x: hidden;
  flex-direction: column;
  gap: 16px;
  color: var(--color-grey-1);
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    width: 4px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: none;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: var(--color-blue);
    border-radius: 8px;
  }

  /* Handle on hover */
  *::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.file-xplorer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  & > .border {
    background-color: var(--color-dark);
  }
}

.file-xplorer-title {
  padding: 11px 12px;
  background-color: var(--blue-transparent-4);
  border-bottom: var(--border-grey-4);
  & > p {
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0;
  }
}

.file-xplorer-location {
  border-bottom: var(--border-grey-4);
  display: flex;
  align-items: center;
  padding: 11px 12px;
  gap: 8px;

  & > p {
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0;
    color: var(--color-grey-1);
  }
}

.file-xplorer-images {
  padding: 12px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.file-xplorer-image {
  display: flex;
  gap: 12px;
  align-items: center;

  .image {
    position: relative;
    min-width: 48px;
    height: 48px;
    background-color: var(--blue-transparent-5);
    border-radius: var(--border-radius-2);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .image::before {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    background-image: url(/img.svg);
  }

  .image-title {
    display: flex;
    flex-direction: column;
    gap: 3px;

    & > p {
      font-size: 16px;
      line-height: 100%;
      color: var(--color-grey-1);
    }
  }
}

.btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  & > .btn-blue {
    width: auto;
  }
}
