.services {
  width: 100%;
  height: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
  background: linear-gradient(
    90deg,
    rgba(18, 140, 239, 0) 0%,
    var(--blue-transparent-3) 50%,
    rgba(18, 140, 239, 0) 100%
  );
}

.title {
  font-size: 18px;
  line-height: 100%;
}

.forms {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  flex-wrap: wrap;
}

.form {
  display: flex;
  column-gap: 24px;
  row-gap: 12px;
  flex-wrap: wrap;
}

.filter {
  display: flex;
  gap: 8px;
  align-items: center;

  input {
    appearance: none;
    border-radius: var(--border-radius-3);
    width: 16px;
    height: 16px;
    border: var(--border-blue-1);
    transition: 0.2s all linear;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  p {
    font-size: 14px;
    line-height: 100%;
    color: var(--color-blue);
    text-shadow: none;
    transition: text-shadow 0.15s;
  }

  input::before {
    content: '';
    position: absolute;
    width: 0px;
    height: 0px;
    opacity: 0;
    border-radius: var(--border-radius);
    background-color: var(--color-blue);
    transition: all 0.15s;
  }

  input:checked {
    position: relative;

    & ~ p {
      text-shadow: var(--color-blue) 0px 0 3px;
      transition: text-shadow 0.15s;
    }

    &::before {
      width: 10px;
      height: 10px;
      opacity: 1;
      transition: all 0.15s;
    }
  }
}

.grid {
  width: 100%;
  height: auto;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  padding: 2px 8px 20px;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: none;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: var(--color-blue);
    border-radius: 8px;
  }
}
