.creations {
  width: 100%;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 40px;
  gap: 0px;
  align-items: center;
  background: linear-gradient(
    90deg,
    rgba(18, 140, 239, 0) 0%,
    var(--blue-transparent-3) 50%,
    rgba(18, 140, 239, 0) 100%
  );

  & > p {
    padding-bottom: 48px;
    font-size: 18px;
    line-height: 100%;
  }

  .counter {
    padding-bottom: 0;
    font-size: 14px;
    padding-top: 8px;
  }
}

.mySwiper {
  max-width: 100%;
  flex-shrink: 1;
  min-width: 10% !important;
  width: 100%;
  /* height: 80%; */
  position: relative;
}

.portfolioSlideDescription {
  width: 39.7%;
  padding: 16px;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;

  & > p {
    color: var(--color-grey-1);
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0;
  }
}

.portfolioSlideIcon {
  width: 100%;
  color: var(--color-blue);
}
