.app {
  max-width: 1920px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 78px 92px;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  position: relative;
  height: 100%;
  display: flex;
  gap: 16px;
}

.gradient {
  max-width: 583px;
  width: 100%;
  aspect-ratio: 1.9/1;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  background: linear-gradient(225deg, rgba(18, 140, 239, 0.33) 0%, rgba(18, 140, 239, 0) 36%);
}

.swiper-slide {
  max-width: calc(100% / 2.5) !important;
  width: auto;
  height: 100%;
  margin-top: 8px;
  position: relative;
}

.swiper-button-prev {
  width: 15px !important;
  left: 25% !important;
  top: 45% !important;
  color: var(--color-grey-1) !important;
}

.swiper-button-next {
  width: 15px !important;
  right: 25% !important;
  top: 45% !important;
  color: var(--color-grey-1) !important;
}
