/* font-family: "Big Shoulders", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&display=swap');

/* font-family: "Iceland", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');