.header {
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.balance {
  display: flex;
  gap: 46px;
  align-items: center;
}

.level {
  display: flex;
  align-items: end;
  gap: 4px;

  & > .level-number {
    line-height: 24px;
    font-size: 26px;
    letter-spacing: 0.075em;
    color: var(--color-green);
  }

  & > .level-title {
    line-height: 16px;
    letter-spacing: 0.075em;
    color: var(--color-grey-4);
  }
}

.coins {
  display: flex;
  align-items: center;
  gap: 12px;

  & > .coins-info {
    position: relative;
    display: flex;
    min-width: 178px;
    align-items: end;
    justify-content: space-between;
    gap: 4px;

    & > .coin-number {
      line-height: 24px;
      font-size: 26px;
      letter-spacing: 0.075em;
      color: var(--color-green);
    }

    & > .coin-title {
      line-height: 16px;
      letter-spacing: 0.075em;
      color: var(--color-grey-4);
    }
  }
}

.times {
  display: flex;
  align-items: center;
  gap: 26px;

  & > .server-time, .local-time {
    display: flex;
    align-items: end;
    gap: 5px;
    font-size: 14px;
    line-height: 18px;

    & > .time-title {
      color: var(--color-grey-1);
    }
  }


}
